* {
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
}

.navbar {
    background-color: grey;
    margin-bottom: 1rem;
}

h1 {
    width: 500px;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
}

.col {
    background-color: white;
}

.pad {
    background-color: grey;
    margin: 5px;
    padding: 10px;
}

@media (min-width: 768px)
{
    .navbar-toggler {
        display: none;
    }

    .navbar-brand button {
        display: block;
    }
}

